@model List<CRUD_Operation.Models.Employee>
<link href="~/css/employeeliststylesheet.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" />


<h2>Employees Details</h2>

<a class="btn edit-btn" style="float: right;" asp-controller="Employees" asp-action="Employees" title="Add New Employee Details"><i class="fas fa-plus"></i> Add</a>

<table id="employeeTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Department</th>
            <th>Department ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="7" style="text-align: center;">
                    <p>No records found</p>
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Department</td>
                    <td>@item.DepartmentID</td>
                    <td class="actionClm">
                        <a onclick="viewPopup('@item.Id', '@item.FirstName', '@item.LastName','@item.Email','@item.PhoneNumber','@item.Department','@item.DepartmentID',)" title="View" class="viewBtn fa-solid fa-eye"></a>
                        <a href="Employees/EditEmployees/@item.Id" title="Edit" class="editBtn fa-solid fa-pen-to-square"></a>
                        <a onclick="deletePopup('@item.Id', '@item.FirstName', '@item.LastName')" title="Delete" class="deleteBtn fa-solid fa-trash"></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="modal fade popupModalTop" id="deletePopup" tabindex="-1" aria-labelledby="deletePopupLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePopupLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="deleteMessage">Do you really want to delete this record?</p>
            </div>
            <div class="modal-footer">
                <a id="deleteButton" href="#" class="btn btn-primary">Delete</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade popupModalTop" id="viewPopupModal" tabindex="-1" aria-labelledby="viewPopupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewPopupModalLabel">Special title treatment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="viewName"></p>
                <p id="viewEmail"></p>
                <p id="viewPhoneNumber"></p>
                <p id="viewDepartment"></p>
                <p id="viewDepartmentID"></p>
            </div>
        </div>
    </div>
</div>